/* Font Family: Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", sans-serif */


$fuente-principal: 'Quicksand', sans-serif; 

$color-del-fondo:#EAD1DC;
$color-del-texto:#312F2F;
$color-del-titulo:#3F2E56;
$color-del-subtitulo:#453F78;
$color-del-subtitulo2:#FFFFFF;
$color-de-los-links:#7D52A8;

$tamaño-del-titulo: 2.2rem;
$tamaño-del-subtitulo: 2rem;
$tamaño-del-subtitulo2: 1rem;
