@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.nav-link{
    color: v.$color-de-los-links;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;

    &:hover {
        color: v.$color-del-subtitulo;
    }

    &:focus {
        outline: 2px solid v.$color-del-subtitulo;
    }

    &:active {
        color: v.$color-del-texto;
    }
}
