@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;

/* Carrusel */
.carousel {
    max-width: 700px; 
    margin: 0 auto;
}

.carousel-inner {
    height: 450px;    
}

.carousel-inner img,
.imagen-mangas {
    object-fit: contain; 
}

.btn, button, .carousel-control-prev, .carousel-control-next {
    &:hover{
        background-color: v.$color-del-subtitulo;
    }

    &:focus {
        outline: 2px solid v.$color-del-subtitulo;
    }

    &:active {
        background-color: v.$color-del-texto;
    }
}