/* Font Family: Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", sans-serif */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    background-color: #EAD1DC;
    font-family:"Quicksand", sans-serif;
}

h1{
    color: #3F2E56;
    font-size: 2.2rem;
    font-weight: 600;
}

h2{
    color: #453F78;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

p, figcaption {
    color: #312F2F;
    font-size: 1rem;
}

li {
    color: #312F2F;
    font-size: 1rem;
    list-style: none;
}

/* Header */
.Logo{
    width: 10vw;
    height: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

header a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

header h1{
    flex:1;
    text-align:center;
    margin:auto;
}   

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li {
    list-style: none;
}

header .navbar-nav .nav-link.active {
    color: #7D52A8;
    font-weight: 600;
}

header .navbar {
    background-color: transparent;
}

/* Main */
main {
    padding: 30px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main a:hover{
    color: #453F78;
}

main a:focus{
    outline: 2px solid #453F78;
}

main a:active{
    color: #312F2F;
}

section {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

section h2 {
    width: 220px;
}

section article {
    flex: 1;
}

.biografia-seccion{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.biografia-seccion figure {
    margin: 0;
}

.biografia-seccion figcaption{
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px; 
    border-radius: 8px;
    max-width: 600px;
    margin: 20px 0;
}

.grid-formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.banner-demografia {
    width: 25vw;   
    height: auto;  
}

.portada-manga {
    width: 200px;       
    height: auto;      
}
/* Footer */
.redes-sociales{
    height: 5vh;
    width: auto;
}

.whatsapp-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
}

footer ul li {
    list-style: none;
}

footer nav {
    margin-top: 15px;
}

footer nav ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

footer a:hover{
    color: #453F78;
}

footer a:focus{
    outline: 2px solid #453F78;
}

footer a:active{
    color: #312F2F;
}

/* Tarjetas */
.card-manga {
    background-color: #EAD1DC;
    border: 1px solid #7D52A8;
    border-radius: 12px;
}

.card-manga .card-title {
    color: #453F78;
    font-weight: 600;
}

.card-manga .badge {
    background-color: #7D52A8;
    color: #FFFFFF;
    font-size: 0.85rem;
    padding: 6px 12px;
    border-radius: 6px;
}

.card:hover,
.portada-manga:hover {
    background-color: #EAD1DC
}

.card:focus {
    outline: 2px solid #453F78;
}

/* Navbar */
.nav-link{
    color: #7D52A8;
    text-decoration: none;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: #453F78;
}

.navbar-nav .nav-link:focus {
    outline: 2px solid #453F78;
}

.navbar-nav .nav-link:active {
    color: #312F2F;
}

/* Carrusel */
.carousel {
    max-width: 700px; 
    margin: 0 auto;
}

.carousel-inner {
    height: 450px;    
}

.carousel-inner img,
.imagen-mangas {
    object-fit: contain; 
}
/* Botones */

.btn:hover, 
button:hover,
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #453f78;
}

.btn:focus, 
button:focus,
.carousel-control-prev:focus,
.carousel-control-next:focus {
    outline: 2px solid #453F78;
}
.btn:active, 
button:active,
.carousel-control-prev:active,
.carousel-control-next:active {
    background-color: #312F2F;
}

/* Media Query */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .Logo {
        width: 25vw;
    }

    section {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-demografia {
        width: 80vw;
    }

    .biografia-seccion {
        flex-direction: column;
    }

    .carousel {
        max-width:90vw;
    }

    .grid-formulario {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .Logo {
        width: 15vw;
    }

    section {
        gap: 20px;
    }

    .banner-demografia {
        width: 40vw;
    }

    .carousel {
        max-width: 50vw;
    }

    .grid-formulario {
        grid-template-columns: repeat(2, 1fr);
    }
}
